.form {
  display: flex;
  justify-content: center;
  align-items: center;

  & input {
    font-family: cursive;
    width: 60%;
    padding: 0.8rem 1.5rem;
    margin: 2rem 1.2rem;
    outline: none;
    border-radius: 3px;
    border: none;
    font-size: 2rem;
    box-shadow: 0.3rem 0.3rem 1rem black;

    @media (max-width: 440px) {
      width: 70%;
    }

    &:focus {
      box-shadow: 0rem 0rem 1rem 1px rgb(0, 250, 103);
    }
  }

  &__options {
    font-family: cursive;

    width: 20%;
    padding: 0.5rem;
    outline: none;
    border-radius: 3px;
    border: none;
    box-shadow: 0.3rem 0.3rem 1rem black;
    margin-bottom: 1rem;

    @media (max-width: 532px) {
      width: 30%;
    }

    &:focus {
      box-shadow: 0rem 0rem 1rem 1px rgb(0, 250, 103);
    }
  }

  &__btn {
    font-family: cursive;

    padding: 1.2rem 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 47, 134);
    color: white;
    box-shadow: 0.3rem 0.3rem 0.5rem black;
    outline: none;
    transition: all 0.2s;

    &:active {
      transform: scale(1.05);
      background-color: rgb(0, 250, 103);
      box-shadow: 0 0 0.8rem 1px rgb(0, 250, 103);
    }

    @media (min-width: 800px) {
      &:hover,
      &:active {
        transform: scale(1.05);
        background-color: rgb(0, 250, 103);
        box-shadow: 0 0 0.8rem 1px rgb(0, 250, 103);
      }
    }
  }
}
