.App {
  text-align: center;
  margin: auto;
  max-width: 70%;
  font-size: 2rem;
  -webkit-animation: appear 2s;
  animation: appear 2s;

  @media (max-width: 1200px) {
    max-width: 80%;
  }

  @media (max-width: 815px) {
    max-width: 90%;
  }

  & h1 {
    font-size: 5.8rem;
    color: rgb(255, 255, 255);
    padding: 2rem 0 2rem 0;
    text-shadow: 4px 4px 8px black;

    @media (max-width: 640px) {
      font-size: 4.8rem;
    }

    @media (max-width: 532px) {
      font-size: 4rem;
    }

    @media (max-width: 440px) {
      font-size: 3.6rem;
    }
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
